.pokemon__cart {
  position: relative;
  width: 450px;
  height: 300px;
  margin: 1rem;
}

.cart {
  position: absolute;
  top: 0px;
  left: 66px;
  width: 70%;
}

.wrapper__right {
  position: absolute;
  top: -5px;
  left: 330px;
  float: left;
  border: dashed;
}

.wrapper__right img {
  display: block;
  width: 50px;
}

.wrapper__left {
  position: absolute;
  top: -5px;
  left: 60px;
  float: left;
  border: dashed;
}

.wrapper__left img {
  display: block;
  width: 50px;
  transform: scaleX(-1);
}

.wrapper__trash {
  position: absolute;
  top: 70px;
  left: 320px;
  float: left;
}

.wrapper__trash img {
    display: block;
    width: 40px;
}


.pokemon {
  position: absolute;
  top: 150px;
  left: 180px;
  float: left;
}

.pokemon img {
  display: block;
}


.pokemon img:hover {
  transform: scale(1.3);
}

.heart {
  position: absolute;
  top: 155px;
  left: 215px;
  float: left;
  z-index: 1;
}

.heart img {
  width: 8%;
  display: none;
}

.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
  -webkit-animation: fade-out 0.5s ease-out both;
  animation: fade-out 0.5s ease-out both;
}

.description {
  background-color: transparent;
  font-family: Pixel;
  position: absolute;
  top: 70px;
  left: 85px;
}

.poke {
  color: red;
}

@media screen and (max-width: 625px) {
  .pokemon {
    min-width: 96px;
  }

  .cart {
    min-width: 315px;
  }

  .pokemon__cart {
    min-width: 450px;
  }
}