.pokemon__cart {
  position: relative;
  width: 450px;
  height: 300px;
}

.cart {
  position: absolute;
  top: 0px;
  left: 66px;
  width: 70%;
}

.wrapper__right {
  position: absolute;
  top: -5px;
  left: 330px;
  float: left;
  border: dashed;
}

.wrapper__right img {
  display: block;
  width: 50px;
}

.wrapper__right :hover {
  cursor: pointer;
}

.wrapper__left {
  position: absolute;
  top: -5px;
  left: 60px;
  float: left;
  border: dashed;
}

.wrapper__left img {
  display: block;
  width: 50px;
  transform: scaleX(-1);
}

.wrapper__left :hover {
  cursor: pointer;
}

.pokemon {
  position: absolute;
  top: 150px;
  left: 180px;
  float: left;
}

.pokemon img {
  display: block;
}

.description {
  background-color: transparent;
  font-family: Pixel;
  position: absolute;
  top: 70px;
  left: 85px;
}
