body {
  height: 100%;
  background: linear-gradient(90deg, #ca8700 0%, #f8ca4b 50%, #ca8700 99%);
}

.app h1 {
  font-family: var(--font-family);
  font-size: 60px;
  -webkit-text-stroke: 3px #2468b1;
  letter-spacing: 2px;
  color: #fccf00;

  width: fit-content;
}

.padding {
  padding: 0 4rem 0 4rem;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.search {
  width: 50%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  background: #9c5200;
}

.search input {
  flex: 1;
  width: 80%;
  margin: 0 0 0px;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  outline: none;
  color: #fff6a4;
  background: #9c5200;
  text-indent: 10px;
  font-family: var(--font-family);
  letter-spacing: 5px;
  font-size: 23px;
  font-weight: bold;
}

.search input::placeholder {
  color: #afa863;
}

.search img {
  justify-content: right;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #f6e752;
  padding: 1rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.empty {
  font-family: var(--font-family);
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
