body {
  height: 100%;
  background: linear-gradient(90deg, #ca8700 0%, #f8ca4b 50%, #ca8700 99%);
}

.app h1 {
  font-family: var(--font-family);
  font-size: 60px;
  -webkit-text-stroke: 3px #2468b1;
  letter-spacing: 2px;
  color: #fccf00;

  width: fit-content;
}

.padding {
  padding: 0 4rem 0 4rem;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  /* cursor: url("./assets/cursors/normal.png"), auto; */
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.search {
  width: 50%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  background: #9c5200;
}

.search input {
  flex: 1;
  width: 80%;
  margin: 0 0 0px;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  outline: none;
  color: #fff6a4;
  background: #9c5200;
  text-indent: 10px;
  font-family: var(--font-family);
  letter-spacing: 5px;
  font-size: 23px;
  font-weight: bold;
}

.search input::placeholder {
  color: #afa863;
}

.search img {
  justify-content: right;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #f6e752;
  padding: 1rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.empty {
  font-family: var(--font-family);
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

* {
  cursor: none;
}

.cursor-dot,
.cursor-top-shell,
.cursor-bottom-shell {
  pointer-events: none;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}



.cursor-dot {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  z-index: 3;
}

.cursor-top-shell {
  width: 24px;
  height: 12px;
  background-color: rgb(218, 69, 61);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border: 2px solid black;
  z-index: 1;
}

.cursor-bottom-shell{
  width: 24px;
  height: 12px;
  background-color: white;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 2px solid black;
  z-index: 1;
}

::-webkit-scrollbar{
  background: #fccf00;
}

::-webkit-scrollbar-thumb{
  background: #9c5200;
}

::-webkit-scrollbar-corner{
  background: #9c5200;
}
