* {
  cursor: none;
}

.cursor-dot,
.cursor-top-shell,
.cursor-bottom-shell {
  display: none;
  pointer-events: none;
  position: absolute;
  opacity: 1;
  transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  z-index: 3;
}

.cursor-top-shell {
  width: 36px;
  height: 18px;
    transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border: 2px solid black;
  z-index: 1;
}

.cursor-bottom-shell {
  width: 36px;
  height: 18px;
  transform: translate(-50%, -50%);
  background-color: rgb(218, 69, 61);
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border: 2px solid black;
  z-index: 1;
}


.shake__animation {
  -webkit-animation: shake-horizontal 0.8s linear both;
  animation: shake-horizontal 0.8s linear both;
  transform: translate(10,10);
}


@-webkit-keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}