@font-face {
  font-family: Pokemon;
  src: url("./assets/fonts/Pokemon\ Solid.ttf") format("truetype");
}

@font-face {
  font-family: Pixel;
  src: url("./assets/fonts/Minecraft.ttf");
}

:root {
  --font-family: Pokemon;
  --font-pixel: Pixel;
}
